<div class="display">
    Kayıt
</div>
<br>
<form method="post" asp-action="Index2">
    <div class="form-group">
        <label >Name</label>
        <input class="form-control">
    </div>
    <br>
    <div class="form-group">
        <label>Surname</label>
        <input class="form-control">
    </div>
    <br>
    <div class="form-group">
        <label>Email</label>
        <input class="form-control">
    </div>
    <br>
    <div class="form-group">
        <label>Age</label>
        <select name="Age" class="form-control">
           <option value="18">18</option>
           
           <option value="19">19</option>

           <option value="20">20</option>

           <option value="21">21</option>


        </select>
        
    </div>
    <br>
    <div>
        <button class="btn btn-primary" type="submit"> Uygula </button>
        
    </div>
    <br>
    
</form>
 <p>
        <a class="btn btn-secondary" href="/Home/Index"> Anasayfa</a>
</p>