@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ZeKa To Do List'e Hoşgeldiniz</h1>
    <p>Devam <a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
</div>
