@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ZeKa To Do List'e Hoşgeldiniz</h1>
    <p>
        <a class="btn btn-primary" href="/ToDo/Index2"> Devam</a>
    </p>
</div>
