@{
    ViewData["Title"] = "Home Page";
}

<style>
    button{
        color: rgb(0, 0, 0);
        border-radius: 8%; 
        background-color: rgb(41, 113, 177);
        opacity: 0.5;
    }
   
</style>
<div class="text-center">
    <h1 class="display-4">ZeKa Planner</h1>
    <button onclick="https://localhost:7275/Site/Index2">Devam</button>
   
</div>
